@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #0f0f0f;
  height: 100vh;
  color: white;
  display: flex;
  overflow: hidden;
}

/*Menu*/
.sidebar {
  width: 80px;
  height: 100%;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  border-radius: 50%;
}
.menu-btn:hover {
  background-color: #272727;
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 2px;
  border-radius: 8px;
  cursor: pointer;
}
.item:hover {
  background-color: #272727;
}
.item img {
  width: 24px;
  height: 24px;
  margin-bottom: 6px;
}
.item span {
  font-size: 11px;
}

#menu {
  width: 240px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  padding: 16px 12px;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  z-index: 10;
}
#menu.visible {
  transform: translateX(0);
}

.menu-header {
  display: flex;
  align-items: center;
  padding-left: 6px;
  gap: 24px;
  margin-bottom: 20px;
}

.menu-group {
  padding: 16px 0;
  border-block: 1px solid #80e3d4b4;
}


.enlance{
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border-radius: 10px;
  cursor: pointer;
}
.menu-item {
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 10px 12px;
  border-radius: 10px;
  cursor: pointer;
}
.menu-item:hover {
  background-color: #80e3d4;
  color: black;
  font-weight: 700;
}
.menu-item img {
  margin-right: 24px;
  font-weight: 700;
}
.enlance:hover {
  background-color: #80e3d4;
  color: black;
  font-weight: 700;
  text-decoration: none;

}
.enlance img {
  margin-right: 24px;
  font-weight: 700;
  text-decoration: none;

}
/*nav*/
section {
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 16px;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main h1 {
  font-size: 42px;
}
.titulo-nav{
  font-size: 60px;
  align-items: center;
}

/*Slider*/
.slider {
  width: 100%;
  height: 100vh;
}
/*Flechas de arriba y abajo*/
.slider .controls {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 100px;
  z-index: 2;
}
@media (min-width: 768px) {
  .slider .controls {
  top: 40%;
  left: 50%;
  width: 50px;
  height: 100px;
}
}
.slider .controls > div {
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
@media (min-width: 768px) {
  .slider .controls > div {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 2rem;
  }
}
.slider .controls > .up:active {
  transform: translateY(-10px);
}

.slider .controls > .down:active {
  transform: translateY(10px);
}

.slider .controls > .up {
  top: 0px;
  right: 0px;
  background: linear-gradient(#0cba9a, rgb(0, 56, 38));
  color: #111;
  border-radius: 0 5px 5px 0;
}

.slider .controls > .down {
  bottom: 0px;
  left: 0px;
  background: linear-gradient(#54f9e8, rgb(0, 36, 56));
  color: #fff;
  border-radius: 5px 0 0 5px;
}

/*Seccion de izquierda y derecha*/
.slider .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.slider .wrapper .left,
.slider .wrapper .right {
  width: 100%;
  overflow: hidden;
}


.slider .wrapper .left > div,
.slider .wrapper .right > div {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.slider .wrapper .left > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px 0px 0px;
}
@media (min-width: 768px) {
  .slider .wrapper .left > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 90px 0px 40px;}
}
.slider .wrapper .left > div h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 15px;
  background: -webkit-linear-gradient(90deg, #66fee8, rgb(2, 144, 118));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 768px) {
  .slider .wrapper .left>div h2{
    font-size: 1.5rem;
font-weight: 700;
margin-bottom: 15px;
  }
}
@media (min-width: 1025px) {
    .slider .wrapper .left>div h2{
      font-size: 4rem;
  font-weight: 700;
  margin-bottom: 15px;
    }
}

.slider .wrapper .left > div p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 15px;
  color: #f6f6f6;
  text-align: justify;
}
@media (min-width: 768px) {
  .slider .wrapper .left > div p{
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 25px;
}}

.slider .wrapper .right > div img {
  width: 100%;
  height: 100%;
  object-fit: obtain;
}

.slider .wrapper .right div:nth-child(1) {
  margin-top: -400vh;
}
.miVideo{
    width: 80%;
    height: 85%;
}